section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid1{
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
}

.grid2{
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 2;
    grid-column-end: 5
}

.grid3{
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
}

.grid4{
    grid-row-start: 2;
    grid-column-start: 4;
 
    grid-row-end: 3;
    grid-column-end: 5;
}

.grid5{
    grid-row-start: 3;
    grid-column-start: 3;
 
    grid-row-end: 4;
    grid-column-end: 4;
}



/* MEDIA QUERIES */

@media screen and (max-width:1000px){

    .grid2{
        grid-row-start: 2;
        grid-column-start: 2;
     
        grid-row-end: 3;
        grid-column-end: 3;
    } 

.grid3{
    grid-row-start: 3;
    grid-column-start: 2;
 
    grid-row-end: 4;
    grid-column-end: 3;
    }
}  
  

@media screen and (max-width:750px){
.grid4{
    grid-row-start: 4;
    grid-column-start: 2;
 
    grid-row-end: 5;
    grid-column-end: 3; 
 }
}

@media screen and (max-width:700px){
    .grid5{
        grid-row-start: 5;
        grid-column-start: 2;
     
        grid-row-end: 6;
        grid-column-end: 3; 
     }
    }
